<h1> Udpate <%= @task.title %> </h1>

<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "ðŸŠ Go to swim" %>

  <%= f.label :details %>
  <%= f.text_field :details, placeholder: "Don't forget your swimsuit" %>

  <%= f.label :completed %>
  <%= f.check_box :completed %>

  <%= f.submit %>
<% end %>
